.misna-word{
  padding: 0 6px;
}
body{
  direction: rtl;
}
textarea {
  min-height: 400px;
}
.misna-word{
  margin: 0 3px;
  display: inline-flex;
}

.misna-row{
  margin: 10px 0;
}
.btn-block{
  width: 100%;
}
.results-title {
  
}
.results-case {
  border-radius: 75px;
  width: 150px;
  height: 150px;
  overflow: auto;
}
.arrow-icon {
  height: 30px;
}
.middle{
  margin: 0 auto;
  display: block;
}