body{
  direction: rtl;
}
textarea{
  min-height: 400px;
}
.middle{
  margin: 0 auto;
  display: block;
}
.misna-row{
  margin: 10px 0;
}

.misna-word{
  margin: 0 6px;
  display: inline-flex;
}
/* Buttons*/
.btn-block{
  width: 100%;
}
.btn-info{
  background-color: pink;
  border-color: pink;
}
.btn-option.btn-info:active,
.btn-option.btn-info:focus,
.btn-option.btn-info:hover{
  background-color: pink;
  border-color: pink;
}
.btn-option.btn-info:hover,
.btn-option.btn-info:focus{
  box-shadow: 0 0 0 0.25rem rgba(204, 11, 11, 0.5);
}
.btn-option.btn-info:active{
  box-shadow: 0 0 0 0.25rem rgba(204, 56, 11, 0.5);
}
.btn-option{
  margin: 0 5px;
}
/* End  Buttons*/

.results-title{
  
}

.misna-row-results{
  margin: 10px 0;
}
.results-case{
  border-radius: 75px;
  width: 150px;
  height: 150px;
  overflow: auto;
}

.arrow-icon{
  height: 50px;
}

